AI/TEMPLATES/chatbbot-multiemspresa-checkout-crm/chatbbot-multiemspresa-checkout-crm/n8n/Console-Stripe-Saas.json
{
  "name": "Console-Stripe-Saas",
  "nodes": [
    {
      "parameters": {
        "description": "Função que atualiza os dados do cliente",
        "workflowId": {
          "__rl": true,
          "value": "E0fM0AbcrhRh9s3I",
          "mode": "list",
          "cachedResultName": "ToolsSaaS-CustomerStripe"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "function": "update",
            "phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone', `telefone do cliente`, 'string') }}",
            "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', `Nome do cliente`, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', `E-mail do cliente`, 'string') }}",
            "cliente_intencao": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cliente_intencao', `Intenção do cliente, se deseja alugar, comprar ou arrendar um imóvel`, 'string') }}",
            "imovel_pretendido": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imovel_pretendido', `Qual imóvel ou tipo de imóvel que o cliente deseja`, 'string') }}",
            "nivel_interesse": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nivel_interesse', `Qual o nível de interesse do cliente ? baixo, médio, alto`, 'string') }}",
            "localizacao_preferida": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('localizacao_preferida', `Em que bairro o cliente deseja comprar um imóvel`, 'string') }}",
            "retornar_em": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('retornar_em', `O cliente solicita o retorno de um corretor em qual data `, 'string') }}",
            "url_strapi": "={{ $('SetFieldsBasic').first().json.url_stripe }}",
            "business_id": "={{ $json.business_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "function",
              "displayName": "function",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cliente_intencao",
              "displayName": "cliente_intencao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "imovel_pretendido",
              "displayName": "imovel_pretendido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nivel_interesse",
              "displayName": "nivel_interesse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "localizacao_preferida",
              "displayName": "localizacao_preferida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "retornar_em",
              "displayName": "retornar_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_strapi",
              "displayName": "url_strapi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "business_id",
              "displayName": "business_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1456,
        224
      ],
      "id": "7b0aa9c5-0324-43e7-b1f5-adac7aab4548",
      "name": "customer_update"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "a70dc3a7-7fe1-4fd5-95f8-73e531e55980",
      "name": "When chat message received",
      "webhookId": "48f73e57-ed90-488a-bd7f-7dbd7ba9ea63"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Nome da empresa:\n{{ $json.business_name }}\n\n{{ $json.prompt }}\n\n## Variáveis Úteis\n- telefone do cliente:\n  {{ $json.phone }}\n- Nome do cliente (registrado no whatsapp):\n  {{ $json.name }}\n- Nome do cliente (registrado no bando de dados):\n  {{ $json.name_banco_dados }}\n\n- Intenção do cliente cadastrada\n  {{ $json.cliente_intencao }}\n\n- localizacao preferida para imóvel que o cliente mencionou\n  {{ $json.localizacao_preferida }}\n\n- Data de hoje:\n  {{ $now.format('yyyy-MM-dd')}} | {{ $now.weekdayLong }}\n\n- Data de amanhã:\n  {{ $now.plus(1,'day').format('yyyy-MM-dd')}} | {{ $now.plus(1,'day').weekdayLong }}\n- Hora atual:\n  {{ $now.format('HH:mm:ss')}}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1312,
        0
      ],
      "id": "814c6ff8-d70a-4a6a-9f35-ffebdec6db02",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1056,
        224
      ],
      "id": "50f0d70e-aadd-4ee5-97fc-a745ee206efe",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Ikzf0rTZYHTzb8xH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1248,
        224
      ],
      "id": "ba62ba32-1c77-4f38-9170-1a8b12359a1f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d23b1bc7-3ed9-4d80-8740-674c94821a70",
              "name": "chatInput",
              "value": "={{ $('When chat message received').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "1db63104-e993-4697-8b98-627ca5dc2f3b",
              "name": "sessionId",
              "value": "={{ $('When chat message received').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "105543ff-22e2-4321-819b-0f3cf3256f41",
              "name": "name",
              "value": "={{ \"João da Silva\" }}",
              "type": "string"
            },
            {
              "id": "f2a36f46-def6-42b9-99d1-291f225c6cc2",
              "name": "phone",
              "value": "5586981612934",
              "type": "string"
            },
            {
              "id": "7500ff78-e186-4f63-a206-f2457d6615ac",
              "name": "name_banco_dados",
              "value": "={{ $json.response.name }}",
              "type": "string"
            },
            {
              "id": "ec168587-6102-4f50-9169-0a3a8cfb69a9",
              "name": "cliente_intencao",
              "value": "={{ $json.response.cliente_intencao }}",
              "type": "string"
            },
            {
              "id": "8312f8d4-41eb-4f84-81a3-7515a181adb4",
              "name": "localizacao_preferida",
              "value": "={{ $json.response.localizacao_preferida }}",
              "type": "string"
            },
            {
              "id": "8dd06fc0-89cf-48fb-98bb-052298c2dd62",
              "name": "imovel_pretendido",
              "value": "={{ $json.response.imovel_pretendido }}",
              "type": "string"
            },
            {
              "id": "363620db-d6f3-4e12-9889-fab861292d4d",
              "name": "prompt",
              "value": "={{ $('CallBusinessData').first().json.response.prompt_out }}",
              "type": "string"
            },
            {
              "id": "aca7aa4c-541b-4643-bbc2-67aef0584d12",
              "name": "business_name",
              "value": "={{ $('CallBusinessData').item.json.response.name }}",
              "type": "string"
            },
            {
              "id": "7ca94299-c4ee-4ba4-8a97-9f9286a20372",
              "name": "business_description",
              "value": "={{ $('CallBusinessData').first().json.response.description }}",
              "type": "string"
            },
            {
              "id": "46bca547-b0da-49f0-9db4-7d3c0a0cf91b",
              "name": "business_phone",
              "value": "={{ $('CallBusinessData').first().json.response.phone }}",
              "type": "string"
            },
            {
              "id": "6a8a56f2-4e9b-49d7-8c09-deade60a7b24",
              "name": "cnpj_empresa",
              "value": "={{ $('SetFieldsBasic').item.json.instancia }}",
              "type": "string"
            },
            {
              "id": "10419941-f38e-46fe-9d32-a91ae2136147",
              "name": "business_id",
              "value": "={{ $('CallBusinessData').first().json.response.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        0
      ],
      "id": "8fe9717f-ae33-4a46-b74c-43f8ce28e7c1",
      "name": "config"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d23b1bc7-3ed9-4d80-8740-674c94821a70",
              "name": "text",
              "value": "={{ $('When chat message received').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "1db63104-e993-4697-8b98-627ca5dc2f3b",
              "name": "sessionId",
              "value": "={{ $('When chat message received').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "105543ff-22e2-4321-819b-0f3cf3256f41",
              "name": "name",
              "value": "={{ \"João da Silva\" }}",
              "type": "string"
            },
            {
              "id": "f2a36f46-def6-42b9-99d1-291f225c6cc2",
              "name": "phone",
              "value": "5586981612934",
              "type": "string"
            },
            {
              "id": "f78d799d-b26f-4b00-82f2-e3477a81f06b",
              "name": "instancia",
              "value": "--SUA-INSTANCIA-AQUI--",
              "type": "string"
            },
            {
              "id": "c61b95f8-55e9-4503-bd4e-05ad37c1f9f9",
              "name": "url_stripe",
              "value": "--SUA-KEY-AQUI--",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "e9e08daf-9a0b-4a60-b59d-52b633db9692",
      "name": "SetFieldsBasic"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xBepZcrQD06YiQx8",
          "mode": "list",
          "cachedResultName": "ToolsSaaS-CustomerStripe"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "function": "get_or_create",
            "phone": "={{ $('SetFieldsBasic').first().json.phone }}",
            "url_strapi": "={{ $('SetFieldsBasic').first().json.url_stripe }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "function",
              "displayName": "function",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "cliente_intencao",
              "displayName": "cliente_intencao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "imovel_pretendido",
              "displayName": "imovel_pretendido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "nivel_interesse",
              "displayName": "nivel_interesse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "localizacao_preferida",
              "displayName": "localizacao_preferida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "retornar_em",
              "displayName": "retornar_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "url_strapi",
              "displayName": "url_strapi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        752,
        0
      ],
      "id": "95e5b7ee-a36c-4447-a643-00543010b16c",
      "name": "CustomerData"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Et6UD3EceVuw3SH2",
          "mode": "list",
          "cachedResultName": "get_data_business"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "instancia": "={{ $('SetFieldsBasic').first().json.instancia }}",
            "utl_stripe": "={{ $('SetFieldsBasic').first().json.url_stripe }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "instancia",
              "displayName": "instancia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "utl_stripe",
              "displayName": "utl_stripe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        496,
        0
      ],
      "id": "9b0f4eda-77f0-461b-a8c4-400dfbe70ce7",
      "name": "CallBusinessData"
    },
    {
      "parameters": {
        "description": "Ferramenta que busca os todos os imóveis da imobiliária",
        "workflowId": {
          "__rl": true,
          "value": "Fhu8c09wDdAm7xq7",
          "mode": "list",
          "cachedResultName": "ToolsSaaS-StripeImoveis"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id', `ID do imóvel que o cliente deseja ver mais detalhes ou fotos`, 'string') }}",
            "type": "all",
            "url_stripe": "={{ $('SetFieldsBasic').first().json.url_stripe }}",
            "business_id": "={{ $('config').first().json.business_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "business_id",
              "displayName": "business_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url_stripe",
              "displayName": "url_stripe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1632,
        224
      ],
      "id": "b1573e41-a00f-4afe-aa00-c093b1291e21",
      "name": "find_all_moveis"
    },
    {
      "parameters": {
        "description": "Ferramenta que busca um determinado imóvel pelo ID",
        "workflowId": {
          "__rl": true,
          "value": "Fhu8c09wDdAm7xq7",
          "mode": "list",
          "cachedResultName": "ToolsSaaS-StripeImoveis"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id', `ID do imóvel que o cliente deseja ver mais detalhes ou fotos`, 'string') }}",
            "type": "get",
            "url_stripe": "={{ $('SetFieldsBasic').first().json.url_stripe }}",
            "business_id": "={{ $('config').first().json.business_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "business_id",
              "displayName": "business_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url_stripe",
              "displayName": "url_stripe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1808,
        224
      ],
      "id": "a649a5f0-eb80-4855-b024-85d44348a4ec",
      "name": "get_imovel_by_id"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "SetFieldsBasic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetFieldsBasic": {
      "main": [
        [
          {
            "node": "CallBusinessData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "customer_update": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CustomerData": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CallBusinessData": {
      "main": [
        [
          {
            "node": "CustomerData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "find_all_moveis": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_imovel_by_id": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "daf7d05c-1630-4c1d-b27b-0dd4dfb3daf1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e590f4139d93469d1739d22ad320a43d021129fe97f155fd64fd3f5b4a29c49b"
  },
  "id": "iE8x1LdtnotkamFk",
  "tags": []
}