AI/TEMPLATES/chatbbot-multiemspresa-checkout-crm/chatbbot-multiemspresa-checkout-crm/n8n/gerar_qrcode.json
{
  "name": "gerar_qrcode",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59f7bdb6-615a-4c11-aabf-2825820efec9",
              "name": "html",
              "value": "=<!DOCTYPE html>\n<html lang=\"pt-br\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>QRCODE do Whatsapp</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            margin: 0;\n            padding: 20px;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            min-height: 100vh;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n        }\n        \n        .container {\n            background: white;\n            padding: 30px;\n            border-radius: 15px;\n            box-shadow: 0 10px 30px rgba(0,0,0,0.2);\n            text-align: center;\n            max-width: 90vw;\n            max-height: 90vh;\n            overflow: auto;\n        }\n        \n        h1 {\n            color: #4a5568;\n            margin-bottom: 30px;\n            font-size: 2.5em;\n            text-shadow: 2px 2px 4px rgba(0,0,0,0.1);\n        }\n        \n        .image-container {\n            margin: 20px 0;\n            display: inline-block;\n            max-width: 100%;\n        }\n        \n        #displayImage {\n            max-width: 100%;\n            max-height: 70vh;\n            border-radius: 10px;\n            box-shadow: 0 5px 15px rgba(0,0,0,0.2);\n            display: none;\n        }\n        \n        .status {\n            margin: 20px 0;\n            padding: 15px;\n            border-radius: 8px;\n            font-weight: bold;\n        }\n        \n        .status.waiting {\n            background: #e6f3ff;\n            border-left: 4px solid #667eea;\n            color: #2d3748;\n        }\n        \n        .status.success {\n            background: #e6fffa;\n            border-left: 4px solid #38b2ac;\n            color: #2d3748;\n        }\n        \n        .status.error {\n            background: #fed7d7;\n            border-left: 4px solid #e53e3e;\n            color: #c53030;\n        }\n        \n        .info {\n            margin-top: 20px;\n            padding: 15px;\n            background: #f7fafc;\n            border-radius: 8px;\n            border: 1px solid #e2e8f0;\n            text-align: left;\n        }\n        \n        .info h3 {\n            margin-top: 0;\n            color: #4a5568;\n        }\n        \n        .info code {\n            background: #f4f4f4;\n            padding: 2px 6px;\n            border-radius: 3px;\n            font-family: monospace;\n        }\n        \n        .sample-btn {\n            background: linear-gradient(45deg, #48bb78, #38a169);\n            color: white;\n            padding: 12px 20px;\n            border: none;\n            border-radius: 8px;\n            cursor: pointer;\n            font-size: 16px;\n            font-weight: bold;\n            margin-top: 15px;\n            transition: all 0.3s ease;\n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n        }\n        \n        .sample-btn:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 5px 15px rgba(72, 187, 120, 0.4);\n        }\n        \n        @media (max-width: 600px) {\n            .container {\n                padding: 20px;\n            }\n            \n            h1 {\n                font-size: 2em;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>QRCODE para Whatsapp</h1>\n        \n        <div id=\"status\" class=\"status waiting\">\n            Inclua um novo dispositivo em seu Whatsapp para que o Chatbot começe a funcionar\n        </div>\n        \n        <div class=\"image-container\">\n            <img id=\"displayImage\" alt=\"QRCODE\">\n        </div>\n    <div id=\"status\" class=\"status waiting\">\n<a href=\"{{ $('Config1').item.json.url_form }}\"> Voltar ao formulário</a>\n        </div>        \n        \n        </div>\n    </div>\n\n    <script>\n\n        var imageBase64 = '{{ $json.data.base64 }}';\n        \n        function displayImage() {\n            const statusDiv = document.getElementById('status');\n            const imageElement = document.getElementById('displayImage');\n            \n            if (!imageBase64) {\n                showStatus('error', 'Nenhum código base64 foi fornecido na variável imageBase64.');\n                imageElement.style.display = 'none';\n                return;\n            }\n            \n            let base64Data = imageBase64;\n            \n            // Se não tem o prefixo, tentar detectar o tipo e adicionar\n            if (!base64Data.startsWith('data:image/')) {\n                // Detectar tipo de imagem pela assinatura do base64\n                const imageType = detectImageType(base64Data);\n                if (imageType) {\n                    base64Data = `data:image/${imageType};base64,${base64Data}`;\n                    showStatus('waiting', `Tipo de imagem detectado: ${imageType.toUpperCase()}. Carregando...`);\n                } else {\n                    // Tentar como PNG por padrão\n                    base64Data = `data:image/png;base64,${base64Data}`;\n                    showStatus('waiting', 'Tentando carregar como PNG...');\n                }\n            } else {\n                showStatus('waiting', 'Carregando imagem...');\n            }\n            \n            // Configurar o evento de carregamento da imagem\n            imageElement.onload = function() {\n                showStatus('success', 'Imagem carregada com sucesso!');\n                imageElement.style.display = 'block';\n            };\n            \n            // Configurar o evento de erro\n            imageElement.onerror = function() {\n                showStatus('error', 'Erro ao carregar a imagem. Verifique se o código base64 está correto.');\n                imageElement.style.display = 'none';\n                \n                // Tentar como diferentes tipos se falhar\n                if (!imageBase64.startsWith('data:image/')) {\n                    tryDifferentFormats();\n                }\n            };\n            \n            // Definir a fonte da imagem\n            imageElement.src = base64Data;\n        }\n        \n        function detectImageType(base64String) {\n            // Remover espaços e quebras de linha\n            const clean = base64String.replace(/\\s/g, '');\n            \n            // Decodificar os primeiros bytes para verificar a assinatura\n            try {\n                const binary = atob(clean.substring(0, 50));\n                const bytes = new Uint8Array(binary.length);\n                for (let i = 0; i < binary.length; i++) {\n                    bytes[i] = binary.charCodeAt(i);\n                }\n                \n                // Verificar assinaturas de arquivo\n                if (bytes[0] === 0xFF && bytes[1] === 0xD8 && bytes[2] === 0xFF) {\n                    return 'jpeg';\n                }\n                if (bytes[0] === 0x89 && bytes[1] === 0x50 && bytes[2] === 0x4E && bytes[3] === 0x47) {\n                    return 'png';\n                }\n                if (bytes[0] === 0x47 && bytes[1] === 0x49 && bytes[2] === 0x46) {\n                    return 'gif';\n                }\n                if (bytes[0] === 0x52 && bytes[1] === 0x49 && bytes[2] === 0x46 && bytes[3] === 0x46) {\n                    return 'webp';\n                }\n                if (bytes[0] === 0x42 && bytes[1] === 0x4D) {\n                    return 'bmp';\n                }\n            } catch (e) {\n                // Se falhar na decodificação, retornar null\n            }\n            \n            return null;\n        }\n        \n        function tryDifferentFormats() {\n            const formats = ['png', 'jpeg', 'jpg', 'gif', 'webp', 'bmp'];\n            let formatIndex = 0;\n            \n            function tryNextFormat() {\n                if (formatIndex >= formats.length) {\n                    showStatus('error', 'Não foi possível determinar o formato da imagem.');\n                    return;\n                }\n                \n                const format = formats[formatIndex];\n                const testSrc = `data:image/${format};base64,${imageBase64}`;\n                \n                const testImg = new Image();\n                testImg.onload = function() {\n                    document.getElementById('displayImage').src = testSrc;\n                    showStatus('success', `Imagem carregada como ${format.toUpperCase()}!`);\n                    document.getElementById('displayImage').style.display = 'block';\n                };\n                \n                testImg.onerror = function() {\n                    formatIndex++;\n                    tryNextFormat();\n                };\n                \n                testImg.src = testSrc;\n            }\n            \n            tryNextFormat();\n        }\n        \n        function showStatus(type, message) {\n            const statusDiv = document.getElementById('status');\n            statusDiv.className = `status ${type}`;\n            statusDiv.textContent = message;\n        }\n        \n              \n        // Inicialização automática se imageBase64 já estiver definida\n        window.onload = function() {\n            if (imageBase64) {\n                displayImage();\n            }\n        };\n    </script>\n</body>\n</html>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2208,
        80
      ],
      "id": "b5659296-edd9-469d-b2ed-b72f5ea13717",
      "name": "setHtml"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59f7bdb6-615a-4c11-aabf-2825820efec9",
              "name": "html",
              "value": "=<!DOCTYPE html>\n<html lang=\"pt-br\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Instância não encontrada</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            margin: 0;\n            padding: 20px;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            min-height: 100vh;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n        }\n        \n        .container {\n            background: white;\n            padding: 30px;\n            border-radius: 15px;\n            box-shadow: 0 10px 30px rgba(0,0,0,0.2);\n            text-align: center;\n            max-width: 90vw;\n            max-height: 90vh;\n            overflow: auto;\n        }\n        \n        h1 {\n            color: #4a5568;\n            margin-bottom: 30px;\n            font-size: 2.5em;\n            text-shadow: 2px 2px 4px rgba(0,0,0,0.1);\n        }\n        \n        .image-container {\n            margin: 20px 0;\n            display: inline-block;\n            max-width: 100%;\n        }\n        \n        #displayImage {\n            max-width: 100%;\n            max-height: 70vh;\n            border-radius: 10px;\n            box-shadow: 0 5px 15px rgba(0,0,0,0.2);\n            display: none;\n        }\n        \n        .status {\n            margin: 20px 0;\n            padding: 15px;\n            border-radius: 8px;\n            font-weight: bold;\n        }\n        \n        .status.waiting {\n            background: #e6f3ff;\n            border-left: 4px solid #667eea;\n            color: #2d3748;\n        }\n        \n        .status.success {\n            background: #e6fffa;\n            border-left: 4px solid #38b2ac;\n            color: #2d3748;\n        }\n        \n        .status.error {\n            background: #fed7d7;\n            border-left: 4px solid #e53e3e;\n            color: #c53030;\n        }\n        \n        .info {\n            margin-top: 20px;\n            padding: 15px;\n            background: #f7fafc;\n            border-radius: 8px;\n            border: 1px solid #e2e8f0;\n            text-align: left;\n        }\n        \n        .info h3 {\n            margin-top: 0;\n            color: #4a5568;\n        }\n        \n        .info code {\n            background: #f4f4f4;\n            padding: 2px 6px;\n            border-radius: 3px;\n            font-family: monospace;\n        }\n        \n        .sample-btn {\n            background: linear-gradient(45deg, #48bb78, #38a169);\n            color: white;\n            padding: 12px 20px;\n            border: none;\n            border-radius: 8px;\n            cursor: pointer;\n            font-size: 16px;\n            font-weight: bold;\n            margin-top: 15px;\n            transition: all 0.3s ease;\n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n        }\n        \n        .sample-btn:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 5px 15px rgba(72, 187, 120, 0.4);\n        }\n        \n        @media (max-width: 600px) {\n            .container {\n                padding: 20px;\n            }\n            \n            h1 {\n                font-size: 2em;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>QRCODE para Whatsapp</h1>\n        \n        <div id=\"status\" class=\"status waiting\">\n           {{ $json.error.message }}\n        </div>\n        \n        <div class=\"image-container\">\n       {{ $json.error.details }}\n        </div>\n    <div id=\"status\" class=\"status waiting\">\n<a href=\"{{ $('Config1').item.json.url_form }}\"> Voltar ao formulário</a>\n        </div>\n        </div>\n         \n    </div>\n\n  \n</body>\n</html>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2208,
        240
      ],
      "id": "a22fc9d0-27f9-4345-97fa-66e0c919d814",
      "name": "setHtml1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f120b80-48a3-4d2c-be67-8b2daf65a75a",
              "name": "cnpj",
              "value": "={{ $json.query.cnpj }}",
              "type": "string"
            },
            {
              "id": "cfa13257-0c78-487c-9db4-c85ae7100003",
              "name": "url_form",
              "value": "--URL-FORM-QRCODE--",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        176
      ],
      "id": "451cbc07-1e5b-4125-8b49-67fa7d493b4a",
      "name": "Config1"
    },
    {
      "parameters": {
        "path": "gerar-qrcode",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        992,
        176
      ],
      "id": "7c4eabd6-89af-4196-8369-25bd6a53ccb9",
      "name": "Webhook-gerar-qrcode",
      "webhookId": "a35b8b34-ce6f-4d42-8f99-6d9d8661354d"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2464,
        160
      ],
      "id": "15963504-99d1-40ca-bdc6-9d20a3bc7055",
      "name": "Respond to Webhook",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1f893ba-7981-4da0-b392-348eb2be202c",
              "name": "instancia_formated",
              "value": "={{ $json.cnpj.replaceAll('/','').replaceAll('/','').replaceAll('.','').replaceAll('-','') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        176
      ],
      "id": "5ba90f24-ed55-44c6-8bc4-e81fa65aca2b",
      "name": "FormatInstancia1"
    },
    {
      "parameters": {
        "operation": "instance-connect",
        "instanceName": "={{ $json.instancia_formated }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1920,
        176
      ],
      "id": "118c877b-c413-4a42-a103-9a88befa928f",
      "name": "GerarQRCode",
      "retryOnFail": true,
      "credentials": {
        "evolutionApi": {
          "id": "xVbSLFLMRuEmS4Jp",
          "name": "Evolution account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "formTitle": "Gerar o QRCODE",
        "formDescription": "Digite o CNPJ ou CPF para gerar o QRCODE de conexão a API do Whatsapp",
        "formFields": {
          "values": [
            {
              "fieldLabel": "CNPJ",
              "fieldType": "number",
              "placeholder": "Digite o CPF/CNPJ com a penas números, sem nenhum símbolo ou espaço",
              "requiredField": true
            }
          ]
        },
        "options": {
          "path": "qrcode",
          "respondWithOptions": {
            "values": {
              "respondWith": "redirect",
              "redirectUrl": "=/gerar-qrcode?"
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        1008,
        384
      ],
      "id": "f9c3658e-4b3c-4435-ab16-c654487488f8",
      "name": "FormGerarQRCODE",
      "webhookId": "2e345f59-7064-44e1-ac95-f9b8a4dc192c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1a70ffd-b8b5-4cf1-b904-9826c750567c",
              "name": "url_n8n",
              "value": "--URL-N8N-",
              "type": "string"
            },
            {
              "id": "249de483-73dd-44d5-84a4-cdad9eef3ad8",
              "name": "cnpj",
              "value": "={{ $json.CNPJ }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        384
      ],
      "id": "a4c42610-37ce-400e-9b20-398732d77e39",
      "name": "Config"
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "redirect",
        "redirectUrl": "={{ $json.url_n8n }}/gerar-qrcode?cnpj={{ $json.cnpj }}"
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        1456,
        384
      ],
      "id": "8e37983e-7fae-4e93-9069-70e2c1016089",
      "name": "Form2",
      "webhookId": "7f217fd9-c7c4-4085-bb7d-0d5bb9b09dbf",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "\n# gerar_qrcode\n## Esta função cadastra uma empresa e redireciona para o checkout\n\n# Config1\n## url_form\n\n# Config\n## url_n8n\n\n\n# Comunidade\n## Participe para resolver problemas e tirar dúvidas:\n## https://comunidade.aalencar.com.br",
        "height": 1140,
        "width": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8717ea35-a9cb-4309-a8c5-af66868616d1",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "setHtml": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setHtml1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config1": {
      "main": [
        [
          {
            "node": "FormatInstancia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-gerar-qrcode": {
      "main": [
        [
          {
            "node": "Config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormatInstancia1": {
      "main": [
        [
          {
            "node": "GerarQRCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GerarQRCode": {
      "main": [
        [
          {
            "node": "setHtml",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "setHtml1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormGerarQRCODE": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Form2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cb6f7728-0860-468e-b01e-66d51863db45",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e590f4139d93469d1739d22ad320a43d021129fe97f155fd64fd3f5b4a29c49b"
  },
  "id": "jjuaQOUEtmLWqaSF",
  "tags": []
}