AI/TEMPLATES/chatbbot-multiemspresa-checkout-crm/chatbbot-multiemspresa-checkout-crm/n8n/onboard_customer.json
{
  "name": "onboard_customer",
  "nodes": [
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "redirect",
        "redirectUrl": "={{ $('Config').item.json.url_gerar_qrcode }}?cnpj={{ $('Config').item.json.cnpj }}"
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        160,
        0
      ],
      "id": "1e5b29eb-2caa-46d3-86d6-035a5a8f0997",
      "name": "Form",
      "webhookId": "fbf69e6f-d4bc-4c57-872c-208073f04689"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "56a22d3a-7c42-4c4b-bd7f-e2aa1e27e196",
              "name": "kywify",
              "value": "--URL-CHECKOUT-AQUI--",
              "type": "string"
            },
            {
              "id": "8a88e755-4ce3-48b5-b9bc-84a1d08c9336",
              "name": "url_strapi",
              "value": "--URL-STRAPI-AQUI--",
              "type": "string"
            },
            {
              "id": "10a8edf9-e69d-49b8-bee1-03695edd4ce3",
              "name": "table",
              "value": "businesses",
              "type": "string"
            },
            {
              "id": "c6975042-d5b7-4944-bb9e-cb4d5df0e06e",
              "name": "cnpj",
              "value": "={{ $('FormOnboard').first().json.CNPJ }}",
              "type": "string"
            },
            {
              "id": "0728bcea-8929-4bd2-a8f5-030886616ebe",
              "name": "name",
              "value": "={{ $json['Nome da EMPRESA'] }}",
              "type": "string"
            },
            {
              "id": "7ba682af-8d03-46a3-ad4e-65bbbdf90b5a",
              "name": "email",
              "value": "={{ $json['E-mail'] }}",
              "type": "string"
            },
            {
              "id": "0753ca27-1270-4490-b1d0-85e74d1a38e4",
              "name": "phone",
              "value": "={{ $json.Phone }}",
              "type": "string"
            },
            {
              "id": "a68bb407-25c0-4a6c-b6bf-d1656154b35c",
              "name": "url_gerar_qrcode",
              "value": "--URL-GERAR-QRCODE-AQUI--",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        16
      ],
      "id": "55a3834e-ec2b-43e1-90d5-636cfb09954f",
      "name": "Config"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.active }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "e8acb949-d610-4ece-be88-e3899d806a42"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "active"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "17014fff-6088-4866-9005-6bd1a1420ea7",
                    "leftValue": "={{ $json.active }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "inactive"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -176,
        16
      ],
      "id": "5fd172b0-1965-4664-bc04-aa5d7afcee80",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.url_strapi }}/{{ $('Config').item.json.table }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cnpj",
              "value": "={{ $('Config').item.json.cnpj }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        16
      ],
      "id": "f546ba75-ea99-42c6-8dda-0f4864ddc24d",
      "name": "FindBusiness",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "6515a666-01f0-4877-bbb4-a53527342ea7",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -528,
        240
      ],
      "id": "561f8d73-4146-4b1a-b53b-25cf9f6af26a",
      "name": "If-existe"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.url_strapi }}/{{ $('Config').item.json.table }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"active\":\"false\",\n\"name\":\"{{ $('Config').item.json.name }}\",\n\"phone\":\"{{ $('Config').item.json.phone }}\",\n\"cnpj\":\"{{ $('Config').item.json.cnpj }}\",\n\"email\":\"{{ $('Config').item.json.email }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        464
      ],
      "id": "3434add7-3ee3-43a5-bf51-2a09d22176fc",
      "name": "NewBusiness",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "formTitle": "Formulario de Inscrição",
        "formDescription": "Crie a sua instância",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nome da EMPRESA",
              "placeholder": "Nome da Empresa",
              "requiredField": true
            },
            {
              "fieldLabel": "CNPJ",
              "fieldType": "number",
              "placeholder": "CNPJ ou CPF com somente números",
              "requiredField": true
            },
            {
              "fieldLabel": "E-mail",
              "fieldType": "email",
              "placeholder": "Email de contato",
              "requiredField": true
            },
            {
              "fieldLabel": "Phone",
              "placeholder": "Telefone de contato com DDD",
              "requiredField": true
            }
          ]
        },
        "options": {
          "path": "inscricao"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1392,
        16
      ],
      "id": "a74a9d7e-1b99-4e87-82b4-14bc43593f32",
      "name": "FormOnboard",
      "webhookId": "212e3e4b-65d8-4d71-a3bd-3a46aa401056"
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "redirect",
        "redirectUrl": "={{ $('Config').item.json.url_gerar_qrcode }}"
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        160,
        192
      ],
      "id": "5df66a18-03c7-4969-afee-081a9bcd0a92",
      "name": "Form1",
      "webhookId": "7e948824-f699-45e6-b2d1-27dc31d3e664"
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "redirect",
        "redirectUrl": "={{ $('Config').item.json.kywify }}"
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        -160,
        448
      ],
      "id": "e36f6332-9199-4484-85c9-71f35bb96df6",
      "name": "Form2",
      "webhookId": "436c3087-251b-46ea-bd0e-0245b1ee97cf",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "elementName": "aviso",
              "html": "<!-- Your custom HTML here --->\n<html>\n  <h1>Obrigado por suas informações</h1>\n    <h3>Logo em seguida você será encaminhado para a Kiwify onde poderá efetuar pagamento para ativar o seu chatbot e na sequencia será gerado um QRCODE onde </h3>\n  <p>Clique em no botãoo abaixo para seguir para o checkout</p>\n</html>\n\n\n"
            }
          ]
        },
        "limitWaitTime": true,
        "resumeUnit": "minutes",
        "options": {
          "formTitle": "Aviso"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        -880,
        16
      ],
      "id": "d6217389-2cf7-4a2e-8f98-6ff2824e3993",
      "name": "NextForm",
      "webhookId": "09c5ea72-0920-4a27-87eb-eb75b2380bc9",
      "alwaysOutputData": true,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "\n# onboard_customer\n## Esta função cadastra uma empresa e redireciona para o checkout\n\n# Config\n## kywify\n## url_strapi\n## url_gerar_qrcode\n\n# Nomes do Fluxos\n## Renomeie todos o fluxos para o nomes sugeridos para não se perder\n\n\n# Comunidade\n## Participe para resolver problemas e tirar dúvidas:\n## https://comunidade.aalencar.com.br",
        "height": 1140,
        "width": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2384,
        -48
      ],
      "id": "315ffb74-af25-4988-872c-0ec317dd8efb",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "FormOnboard": [
      {
        "json": {
          "Nome da EMPRESA": "w22wwewewwe",
          "CNPJ": 113131313131313,
          "E-mail": "adajdj@gmail.com",
          "Phone": "2323232323",
          "submittedAt": "2025-07-17T16:56:08.439-03:00",
          "formMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "NextForm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Form1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FindBusiness": {
      "main": [
        [
          {
            "node": "If-existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If-existe": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NewBusiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormOnboard": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NewBusiness": {
      "main": [
        [
          {
            "node": "Form2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NextForm": {
      "main": [
        [
          {
            "node": "FindBusiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7f401e55-1942-4285-93b1-82bd068199ab",
  "meta": {
    "instanceId": "e590f4139d93469d1739d22ad320a43d021129fe97f155fd64fd3f5b4a29c49b"
  },
  "id": "VeJFsAzP47btzivY",
  "tags": []
}