AI/TEMPLATES/chatbbot-multiemspresa-checkout-crm/chatbbot-multiemspresa-checkout-crm/n8n/ToolsSaaS-CustomerStripe.json
{
  "name": "ToolsSaaS-CustomerStripe",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Config').item.json.function }}",
                    "rightValue": "get_or_create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2ba71c7e-932a-48d6-9e98-fe922c9122af"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "61ad9fb3-58ca-48f7-9cf0-d52c39400446",
                    "leftValue": "={{ $('Config').item.json.function }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "40cbf966-b03f-4376-9af5-60733c67af73",
                    "leftValue": "={{ $('Config').item.json.function }}",
                    "rightValue": "find_cep",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2064,
        64
      ],
      "id": "a7d17881-d416-4fb3-ad65-9283ae8dacb7",
      "name": "Switch",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8a011e5f-4fa4-4788-a027-4e8a5e3ec3ef",
              "leftValue": "={{ $('FindLead').first().json?.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2944,
        64
      ],
      "id": "fa959d44-8b79-4ca8-89f5-d1345af40699",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "return { \n'response': $input.last().json\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4384,
        560
      ],
      "id": "60d76744-96de-4f96-9134-04e3ed2ab5f5",
      "name": "Code"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4416,
        64
      ],
      "id": "8ca8d4d5-877e-4415-9619-649e49e29257",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Loop through input items\nconst output = $input.all().map(item => {\n  // Objeto 1 e Objeto 2\n\n  const object1 = $(\"FindLead\").first().json; // Primeiro objeto \n  const object2 = $(\"Config\").first().json // Segundo objeto\n  // Validar que os objetos existem\n  if (!object1 || !object2) {\n    throw new Error('Os campos \"object1\" e \"object2\" são obrigatórios nos dados de entrada.');\n  }\n\n  // Misturar os objetos, sobrepondo os valores do segundo objeto, caso não estejam em branco\n  const mergedObject = { ...object1 }; // Começa com os valores do objeto 1\n\n  for (const [key, value] of Object.entries(object2)) {\n    // Sobrescreve o valor apenas se não estiver vazio\n    if (value !== null && value !== undefined && value !== '') {\n      mergedObject[key] = value;\n    }\n  }\n\n  // Retornar o novo objeto combinado\n  return { json: { mergedObject } };\n});\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        416
      ],
      "id": "88a720da-f806-44d4-9375-515e5a004170",
      "name": "MergeData"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1dbcca50-6942-4456-92b2-9175d0416950",
              "leftValue": "={{ $('FindLead').last().json.isEmpty() }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2128,
        496
      ],
      "id": "e9d6a657-4f22-473e-bb52-644785cd69b4",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2656,
        64
      ],
      "id": "fc6e5e9d-249a-4f5a-a7fd-5079af8c4f94",
      "name": "Merge1"
    },
    {
      "parameters": {
        "url": "=https://viacep.com.br/ws/{{ $('Config').item.json.zip_code }}/json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2096,
        864
      ],
      "id": "317bef61-c3f9-4600-b520-5bdb19917f1e",
      "name": "ConsultaCep",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return { \n'response': $input.last().json\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4384,
        848
      ],
      "id": "9b62b502-6c09-492e-89f8-1e390c27921b",
      "name": "Code1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d85ea53c-6018-4697-afc9-57f0c87f2750",
              "leftValue": "={{ $json.cep }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3024,
        864
      ],
      "id": "0068b6b0-25fd-457d-9b5d-fb9f15dbb698",
      "name": "If3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4373703-63d9-433c-baff-3911c4ee98ba",
              "name": "message",
              "value": "CEP não localizado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3712,
        848
      ],
      "id": "87e134f1-3240-4fba-ade8-e0e4ae5dc468",
      "name": "SetMessageZipCode2"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "function"
            },
            {
              "name": "phone"
            },
            {
              "name": "name"
            },
            {
              "name": "email"
            },
            {
              "name": "cliente_intencao"
            },
            {
              "name": "imovel_pretendido"
            },
            {
              "name": "nivel_interesse"
            },
            {
              "name": "localizacao_preferida"
            },
            {
              "name": "retornar_em"
            },
            {
              "name": "url_strapi"
            },
            {
              "name": "business_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1056,
        64
      ],
      "id": "b729c46d-d0af-4418-9f2a-f4e94c19ab93",
      "name": "Start"
    },
    {
      "parameters": {
        "url": "={{ $json.url_strapi }}/{{ $json.table_name }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "business.id",
              "value": "={{ $('Start').item.json.business_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1664,
        64
      ],
      "id": "8196bee9-c600-44d9-bba7-b2c499f215b7",
      "name": "FindLead",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.url_strapi }}/{{ $('Config').item.json.table_name }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"name\":\"{{ $('Start').item.json.name }}\",\n\"phone\":\"{{ $('Start').item.json.phone }}\",\n\"business\":{\"id\": \"{{ $('Start').item.json.business_id }}\"}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3696,
        144
      ],
      "id": "b83ac97a-1b4e-4a3d-8ac1-07ff36bcfaad",
      "name": "CreateLead",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "332b1821-9580-4cfd-a520-1f8189e9d764",
              "name": "function",
              "value": "={{ $json.function || 'get_or_create' }}",
              "type": "string"
            },
            {
              "id": "2e31c66f-31b8-4800-9154-e5365bcbfdec",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "a7de30b6-1398-4812-a589-68eb0aa9d604",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "bed1554c-d83b-4a11-b9aa-e59e2a63cbb9",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "d788157d-9395-4ac8-9afc-16143362eca1",
              "name": "localizacao_preferida",
              "value": "={{ $json.localizacao_preferida }}",
              "type": "string"
            },
            {
              "id": "db1e6593-d6dc-4820-984c-08583817ddb6",
              "name": "cliente_intencao",
              "value": "={{ $json.cliente_intencao }}",
              "type": "string"
            },
            {
              "id": "8504cfca-3ab2-4720-bf79-74fc03df4d18",
              "name": "retornar_em",
              "value": "={{ $json.retornar_em || $now.plus(30,'days').toUTC() }}",
              "type": "string"
            },
            {
              "id": "bd28d043-01ad-45b1-80ef-686610b8dec1",
              "name": "imovel_pretendido",
              "value": "={{ $json.imovel_pretendido || \"\" }}",
              "type": "string"
            },
            {
              "id": "f1f44334-1c4a-4ede-87ad-1950126c65b6",
              "name": "nivel_interesse",
              "value": "={{ $json.nivel_interesse || \"baixo\" }}",
              "type": "string"
            },
            {
              "id": "96f589b9-9d9f-4b8a-9e46-aed3a771f728",
              "name": "table_name",
              "value": "=leads",
              "type": "string"
            },
            {
              "id": "7ff00a13-53cc-42d7-9ab4-2970d9a38463",
              "name": "app",
              "value": "imobiliaria",
              "type": "string"
            },
            {
              "id": "7a702f86-8b3c-4825-a733-8de25b275a42",
              "name": "url_strapi",
              "value": "={{ $json.url_strapi }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        64
      ],
      "id": "7d4ccf19-4081-4ee0-9445-f69b71bf7198",
      "name": "Config",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6a8c8e4-dd0b-419f-ba52-979289a79c7a",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3712,
        400
      ],
      "id": "bcf5357a-5e6e-4cd7-8c3e-4c26ad9e7ab3",
      "name": "SetError"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Config').item.json.url_strapi }}/{{ $('Config').item.json.table_name }}/{{ $json.mergedObject.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"name\":\"{{ $json.mergedObject.name }}\",\n\"phone\":\"{{ $('Start').item.json.phone }}\",\n\"cliente_intencao\":\"{{ $json.mergedObject.cliente_intencao }}\",\n\"imovel_pretendido\":\"{{ $json.mergedObject.imovel_pretendido }}\",\n\"localizacao_preferida\":\"{{ $json.mergedObject.localizacao_preferida }}\",\n\"email\":\"{{ $json.mergedObject.email }}\",\n\"nivel_interesse\":\"{{ $json.mergedObject.nivel_interesse }}\",\n\"retornar_em\":\"{{ $json.mergedObject.retornar_em }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2992,
        416
      ],
      "id": "79fa3c17-6a63-4d3b-8ee7-314682005882",
      "name": "UpdateCustomer",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd4a20b6-7405-4eef-9ea1-e5680006b10d",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3712,
        624
      ],
      "id": "d8cf913e-4018-4ac3-8dcf-a26d6bbf5e1d",
      "name": "setError"
    },
    {
      "parameters": {
        "content": "\n# ToolsSaaS-CustomerStripe\n## Esta função atualiza os dados do cliente, busca o cliente e encontra do CEP do endereço do cliente.\n\n\n# Nomes do Fluxos\n## Renomeie todos o fluxos para o nomes sugeridos para não se perder\n\n\n# Comunidade\n## Participe para resolver problemas e tirar dúvidas:\n## https://comunidade.aalencar.com.br",
        "height": 1140,
        "width": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d1c65b7e-22ce-4102-858c-ae99bc171b41",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "function": "get_or_create",
          "phone": "558681612061",
          "name": "André Alencar",
          "email": null,
          "cliente_intencao": null,
          "imovel_pretendido": null,
          "nivel_interesse": null,
          "localizacao_preferida": null,
          "retornar_em": null,
          "url_strapi": "http://strapi.empreendedorserial.com:1337",
          "business_id": "1"
        }
      }
    ]
  },
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ConsultaCep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CreateLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeData": {
      "main": [
        [
          {
            "node": "UpdateCustomer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "MergeData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultaCep": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ],
        [
          {
            "node": "SetMessageZipCode2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetMessageZipCode2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FindLead": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateLead": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "SetError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "FindLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetError": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "UpdateCustomer": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "setError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setError": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cfd4dc98-2cb8-47b6-b84c-b502293334c2",
  "meta": {
    "instanceId": "e590f4139d93469d1739d22ad320a43d021129fe97f155fd64fd3f5b4a29c49b"
  },
  "id": "xBepZcrQD06YiQx8",
  "tags": []
}