AI/TEMPLATES/Material Secretária v3/WORKFLOWS/00. Configurações.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS n8n_historico_mensagens (\n  id           BIGSERIAL PRIMARY KEY,\n  session_id   VARCHAR(40) NOT NULL,\n  message      JSONB NOT NULL,\n  created_at   TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP\n);\n\nCREATE INDEX IF NOT EXISTS idx_n8n_historico_mensagens_session_id ON n8n_historico_mensagens (session_id);\n\nCREATE TABLE IF NOT EXISTS n8n_fila_mensagens (\n  id           BIGSERIAL PRIMARY KEY,\n  id_mensagem  VARCHAR(40) NOT NULL,\n  telefone     VARCHAR(40) NOT NULL,\n  mensagem     TEXT NOT NULL,\n  \"timestamp\"  TIMESTAMP WITHOUT TIME ZONE NOT NULL\n);\n\nCREATE INDEX IF NOT EXISTS idx_n8n_fila_mensagens_telefone ON n8n_fila_mensagens (telefone);\n\nCREATE TABLE IF NOT EXISTS n8n_status_atendimento (\n  id                   BIGSERIAL PRIMARY KEY,\n  session_id           VARCHAR(40) NOT NULL UNIQUE,\n  lock_conversa        BOOLEAN NOT NULL DEFAULT FALSE,\n  aguardando_followup  BOOLEAN NOT NULL DEFAULT FALSE,\n  numero_followup      INTEGER NOT NULL DEFAULT 0,\n  updated_at           TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP\n);\n\nCREATE INDEX IF NOT EXISTS idx_n8n_status_atendimento_session_id ON n8n_status_atendimento (session_id);\nCREATE INDEX IF NOT EXISTS idx_n8n_status_atendimento_aguardando_followup ON n8n_status_atendimento (aguardando_followup);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        -464
      ],
      "id": "92469aaf-6203-4cd6-bce3-3246bf5c9721",
      "name": "Criar tabelas",
      "credentials": {
        "postgres": {}
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "906c66c6-e855-4c24-ae15-cce828dafb92",
              "name": "url_chatwoot",
              "value": "<inserir url do seu chatwoot>",
              "type": "string"
            },
            {
              "id": "716d83b2-a693-489e-904e-79d77f33d621",
              "name": "id_conta",
              "value": "=1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -64
      ],
      "id": "c0570443-30d0-49f4-b6af-3ed54922a7ad",
      "name": "Info"
    },
    {
      "parameters": {
        "content": "## Configurar node Info!!",
        "height": 240,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        -144
      ],
      "typeVersion": 1,
      "id": "d24bc7da-7ab2-470c-afbc-9782ef9cc9bd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "testando-agente"
            },
            {
              "name": "description",
              "value": "Habilita o funcionamento da Secretária IA em modo de teste."
            },
            {
              "name": "color",
              "value": "#39EB08"
            },
            {
              "name": "show_on_sidebar",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -160
      ],
      "id": "a39e296b-dc12-46fe-b741-a4c55c6ebfe5",
      "name": "Criar etiqueta testando-agente",
      "alwaysOutputData": true,
      "credentials": {
        "chatwootApi": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "agente-off"
            },
            {
              "name": "description",
              "value": "Desabilita o funcionamento da Secretária IA."
            },
            {
              "name": "color",
              "value": "#FF0000"
            },
            {
              "name": "show_on_sidebar",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        -160
      ],
      "id": "30dc1185-9f4c-45a6-befd-792764d88331",
      "name": "Criar etiqueta agente-off",
      "alwaysOutputData": true,
      "credentials": {
        "chatwootApi": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/custom_attribute_definitions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "attribute_description",
              "value": "Indica se o contato prefere comunicação via áudio ou texto."
            },
            {
              "name": "attribute_display_name",
              "value": "Preferência áudio/texto"
            },
            {
              "name": "attribute_display_type",
              "value": "={{ 6 }}"
            },
            {
              "name": "attribute_key",
              "value": "preferencia_audio_texto"
            },
            {
              "name": "attribute_model",
              "value": "={{ 1 }}"
            },
            {
              "name": "attribute_values",
              "value": "={{ \n[\"audio\", \"texto\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        32
      ],
      "id": "91cf38fd-74df-42db-9f56-24526d46b505",
      "name": "Cria atributo preferência áudio texto",
      "alwaysOutputData": true,
      "credentials": {
        "chatwootApi": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/custom_attribute_definitions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "attribute_description",
              "value": "ID do cliente no Asaas."
            },
            {
              "name": "attribute_display_name",
              "value": "ID cliente - Asaas"
            },
            {
              "name": "attribute_display_type",
              "value": "={{ 0 }}"
            },
            {
              "name": "attribute_key",
              "value": "asaas_id_cliente"
            },
            {
              "name": "attribute_model",
              "value": "={{ 1 }}"
            },
            {
              "name": "attribute_values",
              "value": "={{ \n[] }}"
            },
            {
              "name": "regex_pattern",
              "value": "/^cus_/"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        32
      ],
      "id": "a7f77997-5ade-48eb-abed-0a088ef85c7a",
      "name": "Cria atributo Asaas ID cliente",
      "alwaysOutputData": true,
      "credentials": {
        "chatwootApi": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/custom_attribute_definitions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "attribute_description",
              "value": "ID da cobrança no Asaas."
            },
            {
              "name": "attribute_display_name",
              "value": "ID cobrança - Asaas"
            },
            {
              "name": "attribute_display_type",
              "value": "={{ 0 }}"
            },
            {
              "name": "attribute_key",
              "value": "asaas_id_cobranca"
            },
            {
              "name": "attribute_model",
              "value": "={{ 1 }}"
            },
            {
              "name": "attribute_values",
              "value": "={{ \n[] }}"
            },
            {
              "name": "regex_pattern",
              "value": "/^pay_/"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        32
      ],
      "id": "866f7886-5301-4011-8246-2663186b6d9a",
      "name": "Cria atributo Asaas ID cobrança",
      "alwaysOutputData": true,
      "credentials": {
        "chatwootApi": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/custom_attribute_definitions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "attribute_description",
              "value": "Status da cobrança no Asaas."
            },
            {
              "name": "attribute_display_name",
              "value": "Status cobrança - Asaas"
            },
            {
              "name": "attribute_display_type",
              "value": "={{ 6 }}"
            },
            {
              "name": "attribute_key",
              "value": "asaas_status_cobranca"
            },
            {
              "name": "attribute_model",
              "value": "={{ 1 }}"
            },
            {
              "name": "attribute_values",
              "value": "={{ [\n  \"Pendente\",\n  \"Cobrança recebida\",\n  \"Cobrança confirmada\",\n  \"Cobrança vencida\",\n  \"Cobrança estornada\",\n  \"Cobrança recebida em dinheiro\",\n  \"Solicitação de estorno\",\n  \"Estorno em andamento\",\n  \"Recebido chargeback\",\n  \"Em disputa de chargeback\",\n  \"Disputa vencida\",\n  \"Requisição de negativação\",\n  \"Recebimento de negativação\",\n  \"Aguardando análise de risco\"\n] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        32
      ],
      "id": "78ff47a2-ecc7-4882-8323-42ce1d5116d5",
      "name": "Cria atributo Asaas status cobrança",
      "alwaysOutputData": true,
      "credentials": {
        "chatwootApi": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        288,
        -64
      ],
      "id": "8f1db9ec-f69c-47ae-bcf7-786ba5acb584",
      "name": "Rodar configuração"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "gestor"
            },
            {
              "name": "description",
              "value": "Gestores com acesso ao assistente interno."
            },
            {
              "name": "color",
              "value": "#1D405B"
            },
            {
              "name": "show_on_sidebar",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        -160
      ],
      "id": "7d712f0f-de08-4f7c-a713-411808a7234e",
      "name": "Criar etiqueta gestor",
      "alwaysOutputData": true,
      "credentials": {
        "chatwootApi": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/custom_attribute_definitions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "attribute_description",
              "value": "Usuário permitiu receber ligações pelo WhatsApp. **NÃO ALTERAR MANUALMENTE**"
            },
            {
              "name": "attribute_display_name",
              "value": "Permitir chamadas WhatsApp"
            },
            {
              "name": "attribute_display_type",
              "value": "=checkbox"
            },
            {
              "name": "attribute_key",
              "value": "permitir_chamadas_whatsapp"
            },
            {
              "name": "attribute_model",
              "value": "=contact_attribute"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1744,
        32
      ],
      "id": "8bcca3fd-529f-48ef-b302-b6961497db83",
      "name": "Cria atributo permitir chamadas",
      "alwaysOutputData": true,
      "credentials": {
        "chatwootApi": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://content.twilio.com/v1/Content",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"friendly_name\": \"voice_call_request\",\n    \"language\": \"pt_BR\",     \n    \"types\": {\n      \"twilio/call-to-action\": {\n        \"body\":\"Permitir receber ligações.\",         \n        \"actions\": [\n          {             \n            \"type\": \"VOICE_CALL_REQUEST\",\n            \"title\": \"Aceitar ligações\" \n          }         \n        ]       \n    }     \n  } \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        368
      ],
      "id": "b4fccc13-1b56-4021-b539-f20a517b8871",
      "name": "Criar template de ligações",
      "credentials": {
        "twilioApi": {}
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Twilio\n\nPara essas configurações, é necessário criar conta no Twilio, que pode ser feito depois.\nDepois de criada a conta, selecionar os nodes e apertar \"D\" para habilitá-los, e executar o workflow novamente.",
        "height": 368,
        "width": 816,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        224
      ],
      "typeVersion": 1,
      "id": "d8826d2c-21eb-4871-bbcf-cb20124995fe",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "https://content.twilio.com/v1/Content",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        368
      ],
      "id": "ad90a2ff-c381-433b-90a9-89ca7d9d28a4",
      "name": "Buscar template de ligações",
      "credentials": {
        "twilioApi": {}
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7b97ffe9-0b20-4321-9693-8f6543f5e009",
              "leftValue": "={{ $('Buscar template de ligações').item.json.contents.find(c => c.friendly_name === 'voice_call_request') }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        368
      ],
      "id": "e5bb99de-b488-45ce-aa00-d0a5281ac1ab",
      "name": "Template já criado?",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Chatwoot",
        "height": 448,
        "width": 1360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        -240
      ],
      "typeVersion": 1,
      "id": "75511e65-cf6a-4478-a384-c38e16c7942b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Postgres",
        "height": 304,
        "width": 352,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        -560
      ],
      "typeVersion": 1,
      "id": "7c326e18-3db3-44fc-bfd1-4e6194751931",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Checklist - Twilio\nA configuração do Twilio pode ser feita posteriormente. Após criar a conta no Twilio, selecione e ative os nodes antes de executar o workflow.\n\nBasta selecionar os nodes, apertar \"D\" para reativá-los, e executar o workflow novamente.\n\n- [ ] Acessar \"Account Dashboard\", e ir na seção \"Account Info\"\n- [ ] Criar credencial no n8n, com o \"Account SID\" e \"Auth Token\" disponíveis nessa seção do Twilio\n- [ ] Abrir cada node do Twilio para selecionar a nova credencial",
        "height": 288,
        "width": 592,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        272
      ],
      "id": "4ab3d97a-5bcc-45c8-a813-91162e8fcbc0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 00. Configurações",
        "height": 80,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        -1120
      ],
      "id": "93d17040-81b2-442e-be28-1a505331b06c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Checklist - Postgres\n- [ ] Criar serviço PostgreSQL no Coolify\n- [ ] Marcar serviço como \"publicly available\" na porta 5432\n- [ ] Criar credencial no n8n, copiando informações do Coolify\n",
        "height": 192,
        "width": 432,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        -512
      ],
      "id": "9cf912c9-749a-4969-80c1-ca4fdf7c9e01",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Checklist - Chatwoot\n- [ ] Configurar node \"Info\" com a URL do seu Chatwoot e o ID da conta\n- [ ] Instalar community node `@devlikeapro/n8n-nodes-chatwoot`\n- [ ] Aproveitar para instalar community node do ElevenLabs: `@elevenlabs/n8n-nodes-elevenlabs`\n- [ ] Criar credencial no n8n, com token de acesso disponível nas \"Configurações de perfil\" no Chatwoot\n- [ ] Abrir cada node do Chatwoot para selecionar a nova credencial\n",
        "height": 288,
        "width": 512,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1552,
        -304
      ],
      "id": "414bb8dd-c378-4969-baa6-a434de9889e0",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/U3Qx-ayR7To/maxresdefault.webp)](https://www.youtube.com/watch?v=U3Qx-ayR7To)",
        "height": 440,
        "width": 500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        -1024
      ],
      "id": "0b943495-01f0-4d98-bdf8-d23aaf60864a",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Usei Hostinger pra este workflow. Replique aqui.\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIMV)\n\n\n",
        "height": 284,
        "width": 440,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        -560
      ],
      "id": "fb283402-b24e-473b-9a53-7da7fbddf12d",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
        "height": 440,
        "width": 1380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        -1024
      ],
      "id": "837a593c-8e1c-46d6-9734-8654a0611f53",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "## Número para WhatsApp? Salvy\n\n\n\n## [Ative seu número](https://use.salvy.com.br/lucas-moreira)\n\n\n",
        "height": 188,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        -256
      ],
      "id": "76cb514a-d7ef-4909-8a1f-ac8a0bf70e73",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "[![Salvy](https://framerusercontent.com/images/dF05SiMwnxfXjHsnkGqZ4Up7ZIg.webp?width=120&height=65)](https://use.salvy.com.br/lucas-moreira)\n",
        "height": 96,
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -192
      ],
      "id": "02436e8f-7776-4956-bf78-fb4d94ca0eb4",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "## WhatsApp em produção: Z-API\n\n\n## [Conecte seu](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n## [WhatsApp agora](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n\n\n",
        "height": 188,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        -48
      ],
      "id": "bc24a337-3290-4bb9-9efb-d460b637fd68",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "[![Z-API](https://framerusercontent.com/images/Mk3wSqDgBWGmQbAP6AX6yYZD02E.png?width=488&height=186)](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n",
        "height": 96,
        "width": 180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        16
      ],
      "id": "182db8fa-9aa5-4aae-a67c-4c12cf1f6449",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n",
        "height": 96,
        "width": 324,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        -480
      ],
      "id": "5914850d-2d3d-4442-9a1c-ea2e0e0d3899",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 440,
        "width": 550,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        -1024
      ],
      "id": "603a985b-1bc7-4672-a385-c85151feb3a7",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "@[youtube](O7xbn8l2WJk)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        224
      ],
      "id": "83a92313-58bf-43c1-bb1a-d6985a057b98",
      "name": "Sticky Note33"
    }
  ],
  "connections": {
    "Criar tabelas": {
      "main": [
        []
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "Criar etiqueta testando-agente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cria atributo preferência áudio texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar etiqueta testando-agente": {
      "main": [
        [
          {
            "node": "Criar etiqueta agente-off",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar etiqueta agente-off": {
      "main": [
        [
          {
            "node": "Criar etiqueta gestor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria atributo preferência áudio texto": {
      "main": [
        [
          {
            "node": "Cria atributo Asaas ID cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria atributo Asaas ID cliente": {
      "main": [
        [
          {
            "node": "Cria atributo Asaas ID cobrança",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria atributo Asaas ID cobrança": {
      "main": [
        [
          {
            "node": "Cria atributo Asaas status cobrança",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria atributo Asaas status cobrança": {
      "main": [
        [
          {
            "node": "Cria atributo permitir chamadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rodar configuração": {
      "main": [
        [
          {
            "node": "Criar tabelas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar template de ligações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar template de ligações": {
      "main": [
        [
          {
            "node": "Template já criado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template já criado?": {
      "main": [
        [],
        [
          {
            "node": "Criar template de ligações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "936a763e3bf4f68eafc951654ad1b8930511c3731cb9e74c28a4773b3e4d1984"
  }
}
