AI/TEMPLATES/Material Secretária v3/WORKFLOWS/04. Criar evento Google Calendar.json
{
  "nodes": [
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ $('Gatilho').item.json.id_agenda }}",
          "mode": "id"
        },
        "start": "={{ $('Gatilho').item.json.evento_inicio }}",
        "end": "={{ $('Calcula fim do evento').item.json.evento_fim }}",
        "additionalFields": {
          "attendees": [],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "={{ $('Gatilho').item.json.descricao }}",
          "summary": "={{ $('Gatilho').item.json.titulo }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        896,
        192
      ],
      "id": "e703f0d6-a54b-4b41-9665-98664d3c352e",
      "name": "Cria o evento",
      "credentials": {
        "googleCalendarOAuth2Api": {}
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0423c482-5749-4c92-ba44-a33b281918a6",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        288
      ],
      "id": "7d3835ad-148b-4687-9890-218da896f589",
      "name": "Janela disponível?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a677f76-5e00-43f7-8f7d-6de17744391b",
              "name": "erro",
              "value": "HORÁRIO INDISPONÍVEL. VERIFICAR SE AGENDAMENTO JÁ NÃO FOI REALIZADO PARA ESSE CONTATO.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        416
      ],
      "id": "77ea3718-fc14-4b7b-bd29-37fb2e370942",
      "name": "Retorna \"horário indisponível\""
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "evento_inicio"
            },
            {
              "name": "duracao_minutos",
              "type": "number"
            },
            {
              "name": "titulo"
            },
            {
              "name": "descricao"
            },
            {
              "name": "id_agenda"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        16,
        288
      ],
      "id": "f12452cf-5e03-475b-8477-b3434d8fafd7",
      "name": "Gatilho"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a94abf94-1a64-4995-b4f1-4644993b3ece",
              "name": "evento_fim",
              "value": "={{ $('Gatilho').item.json.evento_inicio.toDateTime().plus($('Gatilho').item.json.duracao_minutos, 'minutes').toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        288
      ],
      "id": "3f44f540-4b72-49ee-b453-d1d236505174",
      "name": "Calcula fim do evento"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZGnLV8lGj8wz8r2T",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZGnLV8lGj8wz8r2T",
          "cachedResultName": "<selecionar ou criar subworkflow 03. Buscar janelas disponíveis Google Calendar>"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tamanho_janela_minutos": "={{ $('Gatilho').item.json.duracao_minutos }}",
            "periodo_inicio": "={{ $('Gatilho').item.json.evento_inicio }}",
            "periodo_fim": "={{ $('Calcula fim do evento').item.json.evento_fim }}",
            "id_agenda": "={{ $('Gatilho').item.json.id_agenda }}",
            "amostras": 1
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "periodo_inicio",
              "displayName": "periodo_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "periodo_fim",
              "displayName": "periodo_fim",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_agenda",
              "displayName": "id_agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tamanho_janela_minutos",
              "displayName": "tamanho_janela_minutos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "granularidade",
              "displayName": "granularidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "amostras",
              "displayName": "amostras",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        432,
        288
      ],
      "id": "83c81107-639e-4bd6-a367-a400ffc3374b",
      "name": "Buscar janelas disponíveis",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "### Configurar subworkflow!",
        "height": 256,
        "width": 256,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        208
      ],
      "typeVersion": 1,
      "id": "e92c7409-50d0-4a37-ad7e-e88f29a11bc6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Checklist\n- [ ] \"Buscar janelas disponíveis\" -> Subworkflow 03\n- [ ] Abrir node do Google Calendar para selecionar credencial",
        "height": 144,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        432,
        480
      ],
      "id": "48f9c48e-5720-4f5f-ae7b-2fb075ee91ec",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## 04. Criar evento Google Calendar",
        "height": 80,
        "width": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -736,
        -512
      ],
      "id": "fc90831a-6a70-400a-ab85-a610930b781f",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Buscar janelas",
        "height": 432,
        "width": 848,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        128
      ],
      "typeVersion": 1,
      "id": "b6ca5968-fdda-42e4-8ccd-de569d5e4360",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Criar o evento",
        "height": 208,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        128
      ],
      "typeVersion": 1,
      "id": "d823bb5a-4649-49a4-94d4-273b7259f2b6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Horário indisponível",
        "height": 208,
        "width": 448,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        352
      ],
      "typeVersion": 1,
      "id": "58cd7d3a-b577-40f0-bd05-cdbb08024041",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "faa4a0a7-cdb9-4729-8a7e-27193513b89a",
              "name": "resultado",
              "value": "AGENDAMENTO CRIADO",
              "type": "string"
            },
            {
              "id": "e6ee1079-a033-4240-be55-f2fbfdcc94b2",
              "name": "id_evento",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        192
      ],
      "id": "4045358f-01ee-4aee-9695-77a4a501cd9d",
      "name": "Retorna evento criado"
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/U3Qx-ayR7To/maxresdefault.webp)](https://www.youtube.com/watch?v=U3Qx-ayR7To)",
        "height": 440,
        "width": 500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        -416
      ],
      "id": "f5d8dfb6-f444-48db-9131-81f3f63e94f4",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
        "height": 440,
        "width": 1380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        -416
      ],
      "id": "9ebbdeda-9e93-4412-8efa-7fb78ac6ed09",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "## Usei Hostinger pra este workflow.\n## Replique aqui.\n\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIMV)\n\n\n",
        "height": 316,
        "width": 552,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -736,
        32
      ],
      "id": "7d5433b4-6f48-49ca-bfac-fc5883d70a02",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n",
        "height": 96,
        "width": 324,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        128
      ],
      "id": "80104376-2a0a-41d0-9464-41fb278c16cb",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 440,
        "width": 550,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -736,
        -416
      ],
      "id": "39da967b-8d7e-4074-aa0a-ac9663fd5d60",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "@[youtube](dy20Uh-dyHs)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        128
      ],
      "id": "47c6587f-3720-41ab-9ded-77f1276faab6",
      "name": "Sticky Note17"
    }
  ],
  "connections": {
    "Cria o evento": {
      "main": [
        [
          {
            "node": "Retorna evento criado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Janela disponível?": {
      "main": [
        [
          {
            "node": "Cria o evento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna \"horário indisponível\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho": {
      "main": [
        [
          {
            "node": "Calcula fim do evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcula fim do evento": {
      "main": [
        [
          {
            "node": "Buscar janelas disponíveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar janelas disponíveis": {
      "main": [
        [
          {
            "node": "Janela disponível?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "936a763e3bf4f68eafc951654ad1b8930511c3731cb9e74c28a4773b3e4d1984"
  }
}
