AI/TEMPLATES/Material Secretária v3/WORKFLOWS/09. Desmarcar agendamento e enviar alerta.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefone"
            },
            {
              "name": "mensagem"
            },
            {
              "name": "id_agenda"
            },
            {
              "name": "id_evento"
            },
            {
              "name": "id_conta"
            },
            {
              "name": "id_inbox"
            },
            {
              "name": "url_chatwoot"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        160
      ],
      "id": "afc7cecf-cf19-40ef-aa2e-846830d79c85",
      "name": "Gatilho"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations/{{ $('Buscar contato').item.json.conversa.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Gatilho').item.json.mensagem }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        160
      ],
      "id": "805a637f-5a5f-4cc4-85ae-bf24a388ed61",
      "name": "Enviar alerta",
      "credentials": {
        "chatwootApi": {}
      }
    },
    {
      "parameters": {
        "content": "# Checklist\n- [ ] \"Buscar contato\" -> Subworkflow 10\n- [ ] Abrir nodes do Google Calendar e Chatwoot para selecionar credenciais",
        "width": 352,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        320
      ],
      "id": "f1e7151a-f343-4d03-9e84-a7e1b015c751",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## 09. Desmarcar e enviar alerta",
        "height": 80,
        "width": 384,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        -544
      ],
      "id": "63e844ef-372d-46ac-8fa3-9aacd3bbd6db",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Deletar evento",
        "height": 272,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        64
      ],
      "typeVersion": 1,
      "id": "7112656d-edda-4708-b14c-7d08c571d8ac",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $('Gatilho').item.json.id_agenda }}",
          "mode": "id"
        },
        "eventId": "={{ $('Gatilho').item.json.id_evento }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        448,
        160
      ],
      "id": "9524756c-b0cf-4e96-94f6-981259703e06",
      "name": "Desmarcar agendamento",
      "credentials": {
        "googleCalendarOAuth2Api": {}
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "B3uXPbfJAnhFWXXx",
          "mode": "list",
          "cachedResultUrl": "/workflow/B3uXPbfJAnhFWXXx",
          "cachedResultName": "<selecionar ou criar subworkflow 10. Buscar ou criar contato + conversa>"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Gatilho').item.json.telefone }}",
            "id_conta": "={{ $('Gatilho').item.json.id_conta }}",
            "id_inbox": "={{ $('Gatilho').item.json.id_inbox }}",
            "url_chatwoot": "={{ $('Gatilho').item.json.url_chatwoot }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_inbox",
              "displayName": "id_inbox",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        672,
        160
      ],
      "id": "a2d2a796-ebb7-4a5b-afb9-5a4e6b48e3f0",
      "name": "Buscar contato"
    },
    {
      "parameters": {
        "content": "## Enviar alerta e salvar na memória da Secretária",
        "height": 272,
        "width": 816,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        64
      ],
      "typeVersion": 1,
      "id": "a7bbe1bd-7954-4419-8c4d-a71cf1ec88d9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7aefcd2b-a8da-428a-8a99-4d516b56b685",
              "name": "resultado",
              "value": "ok",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        160
      ],
      "id": "c80d6c70-3140-4e25-a9c8-fe06c8594b6f",
      "name": "Resultado"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Gatilho').item.json.telefone }}",
            "message": "={\n  \"type\": \"ai\",\n  \"content\": \"{{ $('Gatilho').item.json.mensagem.replace('\"', '\\\\\"') }}\",\n  \"tool_calls\": [],\n  \"additional_kwargs\": {},\n  \"response_metadata\": {},\n  \"invalid_tool_calls\": []\n}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        160
      ],
      "id": "43e2b8cb-9f18-4104-b279-7f5726638ef6",
      "name": "Salvar memória Secretária",
      "credentials": {
        "postgres": {}
      }
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/U3Qx-ayR7To/maxresdefault.webp)](https://www.youtube.com/watch?v=U3Qx-ayR7To)",
        "height": 440,
        "width": 500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        -448
      ],
      "id": "42f136e1-861a-4cb3-aa77-59906213f49d",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
        "height": 440,
        "width": 1380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        -448
      ],
      "id": "a50811a5-489c-45d2-a873-09c5200277df",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "## Usei Hostinger pra este workflow.\n## Replique aqui.\n\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIMV)\n\n\n",
        "height": 316,
        "width": 552,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        0
      ],
      "id": "2241debd-5ceb-49b4-b212-45a293c72b23",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n",
        "height": 96,
        "width": 324,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -368,
        96
      ],
      "id": "1f66b4da-f7f1-49fb-86b9-9d8cc792a419",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 440,
        "width": 550,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        -448
      ],
      "id": "ea0a6de6-ba4d-4251-9ac8-37c846d3b8d1",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "@[youtube](HR03bdNL02s)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1456,
        64
      ],
      "id": "28781143-b717-415c-b7bf-9a3f157221aa",
      "name": "Sticky Note17"
    }
  ],
  "connections": {
    "Gatilho": {
      "main": [
        [
          {
            "node": "Desmarcar agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar alerta": {
      "main": [
        [
          {
            "node": "Salvar memória Secretária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desmarcar agendamento": {
      "main": [
        [
          {
            "node": "Buscar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar contato": {
      "main": [
        [
          {
            "node": "Enviar alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar memória Secretária": {
      "main": [
        [
          {
            "node": "Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "936a763e3bf4f68eafc951654ad1b8930511c3731cb9e74c28a4773b3e4d1984"
  }
}
