AI/TEMPLATES/Material Secretária v3/WORKFLOWS/10. Buscar ou criar contato + conversa.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/inboxes/{{ $('Gatilho').item.json.id_inbox }}/on_whatsapp",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone_number",
              "value": "={{ $('Gatilho').item.json.telefone.startsWith('+55') ? $('Gatilho').item.json.telefone : `+55${$('Gatilho').item.json.telefone}` }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        624
      ],
      "id": "572e650c-9f80-4211-ac61-0b098490ae44",
      "name": "Verificar WhatsApp",
      "credentials": {
        "chatwootApi": {}
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone_number",
              "value": "=+{{ $('Verificar WhatsApp').item.json.jid.split('@').first() }}"
            },
            {
              "name": "name",
              "value": "={{ $('Verificar WhatsApp').item.json.jid.split('@').first() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        560
      ],
      "id": "1db0d3c6-53ee-4e21-9df6-e1448307d895",
      "name": "Criar contato",
      "credentials": {
        "chatwootApi": {}
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inbox_id",
              "value": "={{ $('Gatilho').item.json.id_inbox }}"
            },
            {
              "name": "contact_id",
              "value": "={{ $('Criar contato').isExecuted ? $('Criar contato').item.json.payload.contact.id : $('ID Contato').item.json.id_contato }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1712,
        560
      ],
      "id": "3a83cb60-37a5-4dfb-9991-96da4c6024e5",
      "name": "Criar conversa",
      "credentials": {
        "chatwootApi": {}
      }
    },
    {
      "parameters": {
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/contacts/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Gatilho').item.json.telefone.replace(/(\\+55)?(\\d\\d)9(\\d{8})/, '$1$2$3') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        304
      ],
      "id": "5b079913-308a-41cf-a800-ca1c24174fc7",
      "name": "Buscar contato (sem 9)",
      "credentials": {
        "chatwootApi": {}
      }
    },
    {
      "parameters": {
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/contacts/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Gatilho').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        304
      ],
      "id": "8fce9603-9330-4068-ac92-4ec28ae170a8",
      "name": "Buscar contato",
      "credentials": {
        "chatwootApi": {}
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a9b08522-ff71-421e-a35a-0c3a21472441",
              "leftValue": "={{ $json.id_contato }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        304
      ],
      "id": "b8de488f-9bca-416f-8dad-f5d42db01786",
      "name": "Contato existe?",
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/contacts/{{ $json.id_contato }}/conversations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        288
      ],
      "id": "2fbef63b-7177-4cb0-bb38-c512bdc0e098",
      "name": "Listar conversas",
      "credentials": {
        "chatwootApi": {}
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "378a7912-d074-4d13-ad27-9c3f04ccf443",
              "leftValue": "={{ $('Verificar WhatsApp').item.json.exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1328,
        624
      ],
      "id": "87da541e-b78d-4cbc-bf0f-2347ab32370c",
      "name": "Número no WhatsApp?"
    },
    {
      "parameters": {
        "content": "## Criar novo contato\n",
        "height": 368,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        496
      ],
      "id": "0e1b1bed-c864-482d-8074-e7a3972684b3",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefone"
            },
            {
              "name": "id_conta"
            },
            {
              "name": "id_inbox"
            },
            {
              "name": "url_chatwoot"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        128,
        304
      ],
      "id": "d87b4e48-e936-462c-a643-a39d0059f48e",
      "name": "Gatilho"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f998039-0ebe-4a5c-b487-7f039f648042",
              "name": "contato",
              "value": "={{ $('Buscar contato (sem 9)').item.json.payload.first() || $('Buscar contato').item.json.payload.first() || $('Criar contato').item.json.payload.contact }}",
              "type": "object"
            },
            {
              "id": "b2807407-2a85-422c-b25a-6ef564d9fe6f",
              "name": "conversa",
              "value": "={{ $json.payload?.first() || $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        304
      ],
      "id": "eb4c26e8-d7e0-4fda-9e13-b6bf2eeb95b9",
      "name": "Resultado"
    },
    {
      "parameters": {
        "content": "## Usar contato já existente\n",
        "height": 272,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        208
      ],
      "id": "0e9ea536-39ef-4ee8-9602-4576bf18b016",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Buscar contato\n",
        "height": 272,
        "width": 992,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        208
      ],
      "id": "8b68df27-a53b-4f75-98e4-eb2c4b786f2f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Checklist\n- [ ] Abrir nodes do Chatwoot para selecionar credenciais",
        "height": 128,
        "width": 512,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        512,
        464
      ],
      "id": "585e0857-171f-4239-a6e3-22169d4ac917",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## 10. Buscar ou criar contato + conversa",
        "height": 80,
        "width": 512,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -608,
        -416
      ],
      "id": "f18711c2-8e5d-4f4e-93fc-daa077ba4ad8",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "errorMessage": "=Telefone não está no WhatsApp: {{ $('Verificar WhatsApp').item.json.toJsonString() }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1536,
        704
      ],
      "id": "6f07e476-c683-4ebe-a424-5b4aead102d4",
      "name": "Telefone não está no WhatsApp"
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/U3Qx-ayR7To/maxresdefault.webp)](https://www.youtube.com/watch?v=U3Qx-ayR7To)",
        "height": 440,
        "width": 500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        -320
      ],
      "id": "454cde99-9f56-4a06-a476-06225138bddf",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
        "height": 440,
        "width": 1380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        464,
        -320
      ],
      "id": "eeecdbbc-624b-418a-894c-027bee027379",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5d65d24-f2f5-4ce5-9811-039fa02e06e1",
              "name": "id_contato",
              "value": "={{ $('Buscar contato (sem 9)').item.json.payload.first()?.id || $('Buscar contato').item.json.payload.first()?.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        304
      ],
      "id": "4539edb0-da60-468e-909e-785dcba8e437",
      "name": "ID Contato"
    },
    {
      "parameters": {
        "content": "## Usei Hostinger pra este workflow.\n## Replique aqui.\n\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIMV)\n\n\n",
        "height": 316,
        "width": 552,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -608,
        128
      ],
      "id": "6cfccd23-4b40-499b-9bd3-93e736774cf2",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b28e2b5-8d42-41c0-b297-27be561ee0ec",
              "leftValue": "={{ $json.payload }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1488,
        288
      ],
      "id": "01f76028-93d5-44bf-a6e6-10d7d6f8d213",
      "name": "Contato com conversa criada?"
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n",
        "height": 96,
        "width": 324,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        224
      ],
      "id": "b22e5767-62e2-4566-a8f6-1fe9e5cf4f11",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 440,
        "width": 550,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -608,
        -320
      ],
      "id": "9a626b03-2419-4f0f-8845-12560348ea18",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "@[youtube](AWUmmgG8ITs)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1856,
        -320
      ],
      "id": "ad6c222c-9bde-4e32-9de5-24e1b2567c7f",
      "name": "Sticky Note17"
    }
  ],
  "connections": {
    "Verificar WhatsApp": {
      "main": [
        [
          {
            "node": "Número no WhatsApp?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar contato": {
      "main": [
        [
          {
            "node": "Criar conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar conversa": {
      "main": [
        [
          {
            "node": "Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar contato (sem 9)": {
      "main": [
        [
          {
            "node": "Buscar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar contato": {
      "main": [
        [
          {
            "node": "ID Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato existe?": {
      "main": [
        [
          {
            "node": "Listar conversas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar conversas": {
      "main": [
        [
          {
            "node": "Contato com conversa criada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Número no WhatsApp?": {
      "main": [
        [
          {
            "node": "Criar contato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telefone não está no WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho": {
      "main": [
        [
          {
            "node": "Buscar contato (sem 9)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID Contato": {
      "main": [
        [
          {
            "node": "Contato existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato com conversa criada?": {
      "main": [
        [
          {
            "node": "Resultado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "936a763e3bf4f68eafc951654ad1b8930511c3731cb9e74c28a4773b3e4d1984"
  }
}
